@font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.eot?tdnglh');
    src: url('/fonts/icomoon.eot?tdnglh#iefix') format('embedded-opentype'), url('/fonts/icomoon.ttf?tdnglh') format('truetype'), url('/fonts/icomoon.woff?tdnglh') format('woff'), url('/fonts/icomoon.svg?tdnglh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
    content: "\e92b";
}

.icon-wallet:before {
    content: "\e929";
}

.icon-add-card:before {
    content: "\e91d";
}

.icon-arrow-down:before {
    content: "\e91e";
}

.icon-debit:before {
    content: "\e91f";
}

.icon-direction:before {
    content: "\e920";
}

.icon-duration:before {
    content: "\e921";
}

.icon-netbanking:before {
    content: "\e922";
}

.icon-other-payments:before {
    content: "\e923";
}

.icon-payment-delete:before {
    content: "\e924";
}

.icon-pin:before {
    content: "\e925";
}

.icon-secured:before {
    content: "\e926";
}

.icon-sucess-tick:before {
    content: "\e927";
}

.icon-tick:before {
    content: "\e928";
}

.icon-sleeper {
    -webkit-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    -o-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
}

.icon-sleeper:before {
    content: "\e90b";
}

.icon-ac:before {
    content: "\e917";
}

.icon-sort:before {
    content: "\e90c";
}

.icon-calendar:before {
    content: "\e92a";
}

.icon-more2:before {
    content: "\e92c";
}

.icon-power-backup:before {
    content: "\e911";
}

.icon-steps_down:before {
    content: "\e90a";
}

.icon-steps_up:before {
    content: "\e912";
}

.icon-top:before {
    content: "\e91b";
}

.icon-reverse .path1:before {
    content: "\e905";
    color: rgb(1, 1, 1);
}

.icon-reverse .path2,
.icon-reverse .path3 {
    font-style: normal;
    -webkit-transform: scale(2, 2.15);
    -ms-transform: scale(2, 2.15);
    -o-transform: scale(2, 2.15);
    transform: scale(2, 2.15);
}

.icon-reverse .path2:before {
    content: "\e907";
    transform: scale(1.02, 1.02);
}

.icon-reverse .path3:before {
    content: "\e909";
    transform: scale(1.02, 1.02);
}

.icon-downloadapp:before {
    content: "\e90d";
}

.icon-geyser:before {
    content: "\e90e";
}

.icon-laundry:before {
    content: "\e90f";
}

.icon-lift:before {
    content: "\e910";
}

.icon-ticket:before {
    content: "\e913";
}

.icon-tour:before {
    content: "\e914";
}

.icon-tv:before {
    -webkit-transform: translate(0, -3px);
    -ms-transform: translate(0, -3px);
    -o-transform: translate(0, -3px);
    transform: translate(0, -3px);
    content: "\e915";
}

.icon-wifi:before {
    content: "\e916";
}

.icon-brakefast {
    -webkit-transform: scale(1.35, 1.35);
    -ms-transform: scale(1.35, 1.35);
    -o-transform: scale(1.35, 1.35);
    transform: scale(1.35, 1.35);
}

.icon-brakefast:before {
    content: "\e908";
}

.icon-gp {
    -webkit-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    -o-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
}

.icon-gp:before {
    content: "\e900";
}

.icon-arrow_back:before {
    content: "\e5c4";
}

.icon-arrow_drop_down:before {
    content: "\e5c5";
}

.icon-class {
    -webkit-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
}

.icon-class:before {
    content: "\e86e";
}

.icon-directions_bike:before {
    content: "\e52f";
}

.icon-directions_bus:before {
    content: "\e530";
}

.icon-headset_mic:before {
    content: "\e311";
}

.icon-local_hotel:before {
    content: "\e549";
}

.icon-info_outline:before {
    content: "\e88f";
}

.icon-print:before {
    content: "\e8ad";
}

.icon-menu:before {
    content: "\e5d2";
}

.icon-more {
    -webkit-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
}

.icon-more:before {
    content: "\e619";
}

.icon-twitter-square {
    -webkit-transform: scale(1.154, 1.154);
    -ms-transform: scale(1.154, 1.154);
    -o-transform: scale(1.154, 1.154);
    transform: scale(1.154, 1.154);
}

.icon-twitter-square:before {
    content: "\e92f";
}

.icon-inr {
    -webkit-transform: scale(0.8, 0.9);
    -ms-transform: scale(0.8, 0.9);
    -o-transform: scale(0.8, 0.9);
    transform: scale(0.8, 0.9);
}

.icon-inr:before {
    content: "\e91c";
}

.icon-map-marker:before {
    content: "\e918";
}

.icon-youtube-square {
    -webkit-transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    -o-transform: scale(1.15, 1.15);
    transform: scale(1.15, 1.15);
}

.icon-youtube-square:before {
    content: "\e901";
}

.icon-google2:before {
    content: "\e92d";
}

.icon-google-plus2:before {
    content: "\e902";
}

.icon-facebook2:before {
    content: "\e903";
}

.icon-instagram:before {
    content: "\e904";
}

.icon-blogger {
    -webkit-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -o-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
}

.icon-blogger:before {
    content: "\e919";
}

.icon-blogger2:before {
    content: "\e91a";
}

.icon-linkedin:before {
    content: "\e906";
}

.icon-chrome:before {
    content: "\e92e";
}

.icon-water-sports:before {
    content: "\e942";
}

.icon-aero-sports:before {
    content: "\e943";
}

.icon-motor-sports:before {
    content: "\e944";
}

.icon-extreme-sports:before {
    content: "\e945";
}

.icon-city-walks:before {
    content: "\e946";
}

.icon-camping-trekking:before {
    content: "\e947";
}

.icon-sporting-activities:before {
    content: "\e948";
}

.icon-theme-parks:before {
    content: "\e949";
}

.icon-adventure-games:before {
    content: "\e94a";
}

.icon-adventure-package:before {
    content: "\e94b";
}

.icon-inhouse:before {
    content: "\e941";
}

.icon-wheelchair:before {
    content: "\e930";
}

.icon-pool:before {
    content: "\e931";
}

.icon-minifridge:before {
    content: "\e932";
}

.icon-hairdryer:before {
    content: "\e933";
}

.icon-banquethall:before {
    content: "\e934";
}

.icon-dinning:before {
    content: "\e935";
}

.icon-roomsafe:before {
    content: "\e936";
}

.icon-gym:before {
    content: "\e937";
}

.icon-surveillance:before {
    content: "\e938";
}

.icon-cctv:before {
    content: "\e939";
}

.icon-hdtv:before {
    content: "\e93a";
}

.icon-petfriendly:before {
    content: "\e93b";
}

.icon-roomheater:before {
    content: "\e93c";
}

.icon-conference:before {
    content: "\e93d";
}

.icon-bar:before {
    content: "\e93e";
}

.icon-creditcard:before {
    content: "\e93f";
}

.icon-parking:before {
    content: "\e940";
}

.icon-activity-type:before {
    content: "\e94c";
}

.icon-user-name:before {
    content: "\e94e";
}

.icon-no-of-persons:before {
    content: "\e94d";
}

.icon-thumbs-down-filled:before {
    content: "\e94f";
}

.icon-thumbs-down-line:before {
    content: "\e950";
}

.icon-thumbs-up-filled:before {
    content: "\e951";
}

.icon-thumbs-up-line:before {
    content: "\e952";
}

.icon-mobile-signin:before {
    content: "\e954";
}

.icon-email-signin:before {
    content: "\e953";
}

.icon-cog:before {
    content: "\e955";
}

.icon-sign-out:before {
    content: "\e956";
}

.icon-duration-no-arrow:before {
    content: "\e95c";
}

.icon-price-no-arrow:before {
    content: "\e95d";
}

.icon-duration-high-to-low:before {
    content: "\e958";
}

.icon-duration-low-to-high:before {
    content: "\e959";
}

.icon-price-high-to-low:before {
    content: "\e95a";
}

.icon-price-low-to-high:before {
    content: "\e95b";
}

.icon-amenities:before {
  content: "\e95e";
}